@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url(../_fonts/bubblegum-sans-regular.otf);
}

/* Formatação alinhamento texto, background e cor da letra */

body {
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
    font-family: 'Arial', sans-serif;
}

p {
    text-align: justify;
    text-indent: 50px;
}

a{
    text-decoration: none;
    color: #606060;
}

a:hover{
    text-decoration: underline;
}

div#interface {
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
}

header#cabecalho img#icone {
    position: absolute;
    left: 1000px;
    top: 50px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 80px;
}

header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
} /* Fim formatação corpo texto, background... */

/*  Formatação de imagens com legenda */

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}
/* Fim formatação de imagens com legenda */

/*Formatação do menu*/

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    right: 50px;
}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
    border: 1px solid black;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: black;
    text-decoration: none;
}

nav#menu a:hover {
    color: white;
    transition: background-color 1s;
}

section#principal {
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 18px;
}

/* Fim formatação menu*/

/*Formatação article*/

article#noticia_principal h2{
    font-size: 13pt;
    color:#e5e2e2;
    background-color: #5e5e5e;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho_artigo h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #5e5e5e;
    margin-top: 0px;
    margin-bottom: 0px    
    
}

header#cabecalho_artigo h2{
    font-size: 13pt;
    color:#888888;
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho_artigo h3{
    font-size: 12pt;
    color:#606060;
}

.atualizacao{
    text-align: right;
}

/* Fim formatação article*/

/* formatação tabela especificação */

table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec td {
    border: 1px solid #606060;
    padding: 5px;
}

table#tabelaspec td.ce {
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    text-align: right;
    font-weight: bold;
}

table#tabelaspec td.cd {
    color: #ffffff;
    background-color: #888888;
    text-align: left;
}

table#tabelaspec caption{
    color: black;
    font-size: 14pt;
    font-weight: bolder;
}

table#tabelaspec caption span{
    display: block;
    float: right;
    color: #606060;
    font-size: 8pt;
    margin-top: 10px;    
}

aside#lateral {
    display: block;
    width: 350px;
    float: right;
    background-color: #bdbdbd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#lateral h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#lateral h2{ 
    font-size: 13pt;
    color:#e5e2e2;
    background-color: #5e5e5e;
    padding: 3px 0px 3px 10px;
    margin: 10px 0px 10px 0px;
    
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}

/* Fim formatação tabela*/