@charset "UTF-8";

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url(../_imagens/radio-tv.png) no-repeat;    
}

audio#musica{
    display: block;
    position: relative;
    left: 575px;
    top: 490px;
    width: 300px;
}

video#filme{      
    display: block;
    position: relative;  
    left: 87px;
    top: 60px;
    width: 440px;
}

video#filme-principal{
    display: block;
    position: relative;      
    width: 500px;
}

video#filme-aside{      
    display: block;
    position: relative;      
    width: 350px;
}